<% if (page.toc){ %>
  <div class="sidebar-module sidebar-toc">
    <h4>Table of Contents</h4>
    <%- bs_toc(page.content, { class: 'sidebar-module-list',  headings: 'h1, h2, h3'}) %>
  </div>
<% } %>

<% theme.widgets.forEach(function(widget){ %>
  <%- partial('_widget/' + widget) %>
<% }) %>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- blog-general-responsive-sidebar -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4721191851305300"
     data-ad-slot="5846920073"
     data-ad-format="auto"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>